/* Overlay fixed full screen */
.contact-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 99999;
  }
  
  /* Modal always centered */
  .contact-modal-box {
    width: 420px;
    max-width: 92%;
  
    padding: 20px;
    border-radius: 4px;
  
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
  
    border: 1px solid #333;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  
    animation: contactFadeIn 0.2s ease;
  }
  
  /* Title */
  .contact-modal-title {
    font-size: 20px;
    font-weight: 500;
    color: #ff9100;
    margin-bottom: 10px;
  }
  
  /* Inputs */
  .contact-modal-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  
    border-radius: 4px;
    border: 1px solid #333;
  
    background: #222;
    color: white;
    outline: none;
  }
  
  .contact-modal-input:focus {
    border: 1px solid #ff9100;
  }
  
  /* Buttons */
  .contact-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 18px;
  }
  
  .contact-modal-btn {
    background: #ff9100;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .contact-modal-cancel {
    background: transparent;
    border: 1px solid #555;
    padding: 8px 14px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  
  .contact-modal-cancel:hover {
    border: 1px solid #ff9100;
    color: #ff9100;
  }
  
  /* Animation */
  @keyframes contactFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .edit-modal-cancel-button{
    display: flex;
    justify-content: space-between;
  } 
  .cancel-logo{
    height: 25px;
    width: 25px;
    cursor: pointer;
  }